<div class="body">
    <div class="row">
        <div class="topnav pl-1">
            <a class ="brand" href="#" style="size: 45px;padding-left: 18px;"><img src= "/assets/goalwise.PNG" style= "display:inline-block"></a>
        </div>
</div>
<div class="flex-container">
  <div id="log" >
    <label class="ip">Username<input class="i" type="text"  [(ngModel)]="uname"></label>
    <br><br><br>
    <label class="ip">Password<input class="i" type="password"  [(ngModel)]="passw"></label><br><br>
    <button class="b1" (click)="onreset()">Reset</button>
    <button class="b2" (click)="onsubmit()">Sign In</button>
  </div>
</div>

</div>